node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/build-mobile

# Capacitor native projects
/android
/ios

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*